.posts{
    display: flex;
    flex-direction: column;
    height: 30%;
    height: 100%;
    margin-bottom: 30px;
    margin: 0.5%;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;

}